<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="LinkarServerContext"
         connectionString="Server=bb46f6d5-0ae0-4e54-bc76-a2f100c752f2.sqlserver.sequelizer.com;Database=dbbb46f6d50ae04e54bc76a2f100c752f2;User ID=tyongpaoalvgqeqd;Password=mKErioFnwC5Jyi3DqDuqnHiMiWCv2derYqqHDLAEzviSPyiYFu8iXv3KBZhtSkts;" />
  </connectionStrings>
</configuration>
