<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="LinkarServerContext"
         connectionString="Server=1134bdb4-0e87-431d-9814-a2ec00f8931e.sqlserver.sequelizer.com;Database=db1134bdb40e87431d9814a2ec00f8931e;User ID=jjvgsrokijjnrmyy;Password=4JXeCNf4Wacsw2GxjA4K4CZvccyDZHAJB6mzcREPq5ASNrbzX7vnGuezSBcApJdo;" />
  </connectionStrings>
</configuration>
